<ion-content [fullscreen]="true">
  <div id="top"#top>
  <header id="header"  #header >
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-3">
          <h2 class="logo"
          (click)="closeMenu()"
          (click)="scroll(top)" >
          <span class="initial">S</span>erge Badio</h2>
        </div>
        <div class="col-md-9 col-sm-9 col-9 text-end">
          <div class="menu_icon"
          [class.menu_icon_class]="menuIconVariable"
          (click)="openMenu()">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="menu" [class.menuClass]="menuVariable">
            <ul>
              <li><a (click)="closeMenu()" (click)="scroll(top)">Home</a></li>
              <li><a (click)="closeMenu()" (click)="scroll(work)">Projects</a></li>
              <!-- <li><a (click)="closeMenu()" (click)="scroll(services)">Services</a></li> -->
              <li><a (click)="closeMenu()" (click)="scroll(contact)">Contact</a></li>
              <li><a (click)="closeMenu()" routerLink="/about">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

   <div class="hero hide" #hero >
    <div class="container">
      <div class="row">
        <img class="hero-img" src="../../assets/images/headshot.jpg" />
        <div class="hero-text">
          <div class="text-top">
            <div>
              <h1 class="hidden delay-header">
                Hi, I'm <span class="hidden delay-header">Serge</span>,<br />
              </h1>
              <h1 class="hidden delay-header second-h1">
                a UI/UX designer.
              </h1>
            </div>

          </div>
          <div class="text-bellow">

            <p class="tw hidden delay-header"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------- about --------------- -->
  <div id="about" #about class="about" hidden>
    <div class="container">
      <div class="row">
        <div class="about-col-1">
          <img src="../../assets/images/head4.jpg" />
        </div>
        <div class="about-col-2">
          <h1 class="sub-title">About Me</h1>
          <p class="sub-hero">
            I'm a passionate Application Designer, Developer and Entrepreneur
            who believes in better services and better experiences through valid
            ethnographic research and day to day use.
          </p>
          <div class="segment">
            <ion-segment [(ngModel)]="segment" scrollable>
              <ion-segment-button value="skills"> Skills </ion-segment-button>
              <ion-segment-button value="experience">Experience</ion-segment-button>
              <ion-segment-button value="education">Education</ion-segment-button>
            </ion-segment>

            <div [ngSwitch]="segment">
              <ion-card *ngSwitchCase="'skills'">
                <ion-card-content>
                  <ul>
                    <li>
                      <span>UI/UX</span><br />Desigingi Web/App interfaces
                    </li>
                    <li>
                      <span>Web Development</span><br />Web app development
                    </li>
                    <li>
                      <span>Mobile App Development</span><br />Building
                      corss-platform mobile apps
                    </li>
                  </ul>
                </ion-card-content>
              </ion-card>

              <ion-card *ngSwitchCase="'experience'">
                <ion-card-content>
                  <ul>
                    <li><span>2021 - 2022</span><br />NDA Client<br/>Lead UI/UX Desinger</li>
                    <li><span>2020 - 2021</span><br />Kingdom App<br/>Lead UI/UX Desinger & Software Developer</li>
                    <li><span>2017 - 2020</span><br />Health eFx<br/>Fullstack Software Developer</li>
                  </ul>
                </ion-card-content>
              </ion-card>

              <ion-card *ngSwitchCase="'education'">
                <ion-card-content >
                    <ul class="row-segment">
                      <li class="column-segment">
                        <span>Compuer Programming</span><br />
                        Confederation College
                      </li>
                      <li class="column-segment2">
                        <span>College Diploma</span><br />
                        2015 - 2017
                      </li>
                    </ul>
                    <ul class="row-segment">
                      <li class="column-segment">
                        <span>Design Theory</span><br />
                        George Brown College
                      </li>
                      <li class="column-segment2">
                        <span>Certificate</span><br />
                        2015 - 2018
                      </li>
                    </ul>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <!-- ----------------------- Work ---------------------- -->

   <div id="work" #work class="work" >
    <div class="container">
      <h1 class="sub-title delay-work">Projects</h1>
      <div class="work-list">
        <div class="work-img " routerLink="/work-kc">
          <img src="../../assets/images/KC screen.jpg" alt="" />
          <div class="layer">
            <h3>Kingdom Club</h3>
            <a><ion-icon name="earth-outline"></ion-icon></a>
          </div>
        </div>
        <div class="work-img delay-work" routerLink="/work-ie">
          <img src="../../assets/images/ie-mock.png" alt="" />
          <div class="layer">
            <h3>Intl Excel</h3>
            <a><ion-icon name="musical-notes-outline"></ion-icon></a>
          </div>
        </div>
        <div class="work-img delay-work" routerLink="/work-ae">
          <img src="../../assets/images/ae-mock.jpg" alt="" />
          <div class="layer">
            <h3>Afro Excel</h3>
            <a><ion-icon name="cart-outline"></ion-icon></a>
          </div>
        </div>
      </div>
      <!-- <a href="#" class="btn btn-work delay-work">See more</a> -->
    </div>
  </div>

  <!-- ----------------- services ------------------------ -->
<!--
  <div id="services" #services class="services">
    <div class="container">
      <h1 class="sub-title ">Services</h1>
      <div class="services-list">
        <div class=" delay-services">
          <ion-icon name="color-palette-outline"></ion-icon>
          <ion-icon name="color-wand-outline"></ion-icon>
          <h2>UX/UI Design</h2>
          <p>
            Seeking help with user research, prototyping, testing and iterating for appealing and
            consistent UX for your products?
          </p>
          <a routerLink="/work-kc">Learn more</a>
        </div>
        <div class="delay-services">
          <ion-icon name="code-outline"></ion-icon>
          <h2>Web Development</h2>
          <p>
            Looking for professional custom web development services with high-performing, intuitive, and
            secure web products that are able to scale as your enterprise grows.
          </p>
          <a routerLink="/work-ie">Learn more</a>
        </div>
        <div class="delay-services">
          <ion-icon name="tablet-portrait-outline"></ion-icon>
          <h2>Mobile App Development</h2>
          <p>
            Cross-platform mobile application that run on Android and iOS through a single code
            base that delivers a consistent mobile experience across all devices.
          </p>
          <a routerLink="/work-ae">Learn more</a>
        </div>
      </div>
    </div>
  </div>

 -->

  <!-- --------------------- contact  ------------------- -->

  <div id="contact" class="contact" #contact>
    <div class="container">
      <div class="row">
        <div class="contact-left">
          <h1 class="sub-title">Contact Me</h1>
          <p><ion-icon name="paper-plane-outline"></ion-icon> serge_dev@gmail.com</p>
          <p><ion-icon name="call-outline"></ion-icon> 647-297-1557</p>
          <p><ion-icon name="location-outline"></ion-icon>Montreal, QC</p>
          <div class="social-icons">
            <a href="#"(click)="openLinkedin('https://www.linkedin.com/in/serge-badio-b335b6a7/')">
            <ion-icon name="logo-linkedin"></ion-icon>
            </a>
            <a href="#" (click)="openGitHub('https://github.com/pullpushtree/')">
              <ion-icon name="logo-github"></ion-icon>
            </a>
            <a href="#" (click)="openBehnace('https://www.behance.net/gallery/124063985/Kingdom-Club')">
              <ion-icon name="logo-behance"></ion-icon></a>
          </div>
        </div>
        <div class="contact-right">
          <form id="contacForm" (ngSubmit)="onSubmit(contactForm.value); contactForm.reset()" #contactForm="ngForm" novalidate>
            <ion-input
              class="contact-input"
              placeholder="Subject"
              id="subject"
              type="text"
              name="subject"
              ngModel
              #nameInput="ngModel"
              required>
            </ion-input>
            <ion-input
              class="contact-input"
              placeholder="Your name"
              id="fname"
              required minlength="2"
              type="text"
              name="fname"
              ngModel
              #nameInput="ngModel"
            ></ion-input>
            <div
              *ngIf="nameInput.invalid && nameInput.touched">
              <div *ngIf="nameInput.errors?.required">
                Name is required.
              </div>
            </div>
            <ion-input
              class="contact-input"
              placeholder="Your Email"
              id="emailAddress"
              type="email"
              name="emailAddress"
              ngModel
              #emailInput="ngModel"
              required
              email
            ></ion-input>
            <div
              *ngIf="emailInput.invalid && emailInput.touched">
              Your email is required.
            </div>
            <ion-textarea
              class="contact-input"
              row="6"
              placeholder="Your message"
              id="body"
              type="text"
              name="body"
              ngModel
              #bodyInput="ngModel"
              required
              auto-grow="true"
              maxLength="500"
            ></ion-textarea>
            <div
              *ngIf="bodyInput.invalid && bodyInput.touched">
              Your message is required.
            </div>

            <!-- <a
              class="btn btn1"
              type="submit"
              [class.disabled]="contactForm.invalid"
              >Submit
            </a> -->
          <div>
            <ion-button
            color="darkblue"
            type="submit"
            class="btn btn3"
            [disabled]="contactForm.invalid"
            >
            <span class="inner-span">
              Submit
            </span>
          </ion-button>
          </div>

          </form>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>2021 @BadioStudio
      </p>
      <span class="emoji">
        <h1>&#9996;</h1>
      </span>
      <p>
        Made with Angular
      </p>

    </div>
  </div>
</div>
</ion-content>
